sl-sidebar-state-persist ul.top-level {
  overflow-wrap: anywhere;
}
sl-sidebar-state-persist ul.top-level > li {
  margin-top: 0rem;
}
sl-sidebar-state-persist ul.top-level > li > a {
  font-size: var(--sl-text-sm);
}
sl-sidebar-state-persist ul.top-level > li > a[aria-current="page"] {
  font-weight: 600;
}
sl-sidebar-state-persist ul.top-level > li > a[aria-current="false"] {
  font-weight: 400;
  color: var(--sl-color-gray-2);
}
